<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch_id %><br />
    <%= f.number_field :branch_id %>
  </div>
  <div class="field">
    <%= f.label :fullName %><br />
    <%= f.text_field :fullName %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :employeeRole %><br />
    <%= f.select(:employeeRole, options_for_select([['Non-manager', 'non-manager'],['Manager', "manager"]],@employee.employeeRole)) %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
   <div class="field">
    <%= f.label :loginID %><br />
    <%= f.text_field :loginID %>
  </div>
   <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
